@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.raindrop {
  position: absolute;
  top: -20px;  /* Başlangıç noktası yukarıda */
  width: 10px;
  height: 20px;
  background-color: rgba(63, 127, 191, 0.8); /* Yağmur damlası rengi */
  border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%; /* Damla şekli */
  animation: fall 8s infinite ease-in-out;
  opacity: 0.7;
}

/* Renk ve hareket çeşitliliği */
.raindrop:nth-child(1) { left: 5%; animation-duration: 6s; background-color: rgba(63, 191, 191, 0.8); }
.raindrop:nth-child(2) { left: 10%; animation-duration: 7s; background-color: rgba(127, 63, 191, 0.8); }
.raindrop:nth-child(3) { left: 20%; animation-duration: 5.5s; background-color: rgba(191, 191, 63, 0.8); }
.raindrop:nth-child(4) { left: 30%; animation-duration: 8s; background-color: rgba(63, 127, 191, 0.8); }
.raindrop:nth-child(5) { left: 40%; animation-duration: 5.8s; background-color: rgba(127, 191, 63, 0.8); }
.raindrop:nth-child(6) { left: 50%; animation-duration: 6.5s; background-color: rgba(191, 127, 63, 0.8); }
.raindrop:nth-child(7) { left: 60%; animation-duration: 7.2s; background-color: rgba(127, 63, 191, 0.8); }
.raindrop:nth-child(8) { left: 70%; animation-duration: 6.8s; background-color: rgba(63, 191, 127, 0.8); }
.raindrop:nth-child(9) { left: 80%; animation-duration: 5.9s; background-color: rgba(191, 63, 127, 0.8); }
.raindrop:nth-child(10) { left: 90%; animation-duration: 8.5s; background-color: rgba(63, 63, 191, 0.8); }

/* Yeni yağmur damlaları */
.raindrop:nth-child(11) { left: 7%; animation-duration: 6.2s; background-color: rgba(191, 63, 63, 0.8); }
.raindrop:nth-child(12) { left: 17%; animation-duration: 5.7s; background-color: rgba(63, 191, 191, 0.6); }
.raindrop:nth-child(13) { left: 27%; animation-duration: 7.3s; background-color: rgba(63, 127, 191, 0.7); }
.raindrop:nth-child(14) { left: 37%; animation-duration: 6.6s; background-color: rgba(191, 127, 63, 0.6); }
.raindrop:nth-child(15) { left: 47%; animation-duration: 8.1s; background-color: rgba(127, 191, 63, 0.7); }
.raindrop:nth-child(16) { left: 57%; animation-duration: 7.5s; background-color: rgba(127, 63, 191, 0.6); }
.raindrop:nth-child(17) { left: 67%; animation-duration: 6.9s; background-color: rgba(191, 63, 127, 0.8); }
.raindrop:nth-child(18) { left: 77%; animation-duration: 8.3s; background-color: rgba(63, 63, 191, 0.7); }
.raindrop:nth-child(19) { left: 87%; animation-duration: 6.4s; background-color: rgba(191, 63, 191, 0.6); }
.raindrop:nth-child(20) { left: 97%; animation-duration: 7.8s; background-color: rgba(191, 191, 63, 0.6); }

/* Yağmur damlalarının düşme animasyonu */
@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh); /* Damlaların tam ekran aşağıya düşmesi */
    opacity: 0;
  }
}

